@font-face {
    font-family: "Helvetica Neue LT Pro";
    src: url("../font/HelveticaNeueLTPro_Light.otf");
}
@font-face {
    font-family: "Helvetica Neue LT Pro Bold";
    src: url("../font/HelveticaNeueLTPro_Bold.otf");
}

* {
    font-family: "Helvetica Neue LT Pro";
    font-display: swap;
}

h1,
h2,
h3,
h4 {
    font-family: "Helvetica Neue LT Pro Bold";
    font-style: normal;
    font-weight: 700;
}
h1 {
    font-size: 108px;
    line-height: 130px;
    letter-spacing: -1.7599999904632568px;
    text-align: left;
}

h3 {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}

// h1 {
//     font-size: 60px;
//     line-height: 100px;
// }
// h2 {
//     font-size: 50px;
//     line-height: 83px;
// }
// h3 {
//     font-size: 40px;
//     line-height: 40px;
// }
// h4 {
//     font-size: 30px;
//     line-height: 49px;
// }
// h5 {
//     font-style: normal;
//     font-size: 25px;
//     font-weight: 600;
//     line-height: 41px;
// }
// p {
//     font-style: normal;
//     font-size: 25px;
//     font-weight: 400;
//     line-height: 40px;
// }
