.errorPage {
    background-image: url("../../../img/Payment/payment-bg.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  .section-container {
    height: 70vh;
    .errorMessage {
      .error-heading-text {
        font-family: "Axiforma Bold";
        font-style: normal;
        font-weight: 800;
        font-size: 217.526px;
        line-height: 362px;
        color: #0098ff;
        margin-bottom: 0;
        @include mediaQueries(mobile) {
          font-size: 117.526px;
          text-align: center;
        }
      }
      .error-subheading-text {
        font-family: "Axiforma Bold";
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 58px;

        /* Blue 2 */

        color: #0098ff;
        @include mediaQueries(mobile) {
          font-size: 32px;
          text-align: center;
        }
      }
    }
    .buttonWrapper {
        margin-top: 40px;
        .primaryButton {
          background: #16cfb0;
          border-radius: 10px;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 33px;
          text-align: center;
          color: #ffffff;
          padding: 23px 38px;
          min-height: 80px;
        }
      }
  }
}
