.errorPage {
  background-image: url("../../../img/Payment/payment-bg.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 266px);
  padding: 90px 0;
  h1, p {
    font-style: normal;
    font-weight: 800;
    color: #0098FF;
    margin-bottom: 0;
  }
  h1 {
    font-size: 165px;
    line-height: 275px;
  }
  p {
    font-size: 26px;
    line-height: 43px;
  }
  .primaryButton {
    width: 223.5px;
    height: 60px;
    background: #16CFB0;
    border-radius: 7.5px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 135px;
  }
}
