.header {
  border: none;
  padding: 0 30px;
  height: 111px;
  margin-bottom: 0;
  &.main {
    border: none;
    background: #f6f9fe;
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.07));
  }
  .right-col {
    flex: auto;
    >a, .search-container, .dropdown .dropdown-toggle {
      font-style: normal;
      font-weight: normal;
      font-size: 15.0011px;
      line-height: 24px;
      color: #000000;
      padding: 0;
      margin-left: 30px;
      position: relative;
    }
    .search-container input {
      width: 204px;
      background: transparent;
      border-radius: 0;
      outline: 0;
      border: none;
      border-bottom: 1px solid #000000;
      padding: 5px 25px 5px 20px;
      background: url('../../icon/search.svg') no-repeat 98% center;
    }
    .count {
      width: 18.75px;
      height: 18.75px;
      background: #FC4A4A;
      border-radius: 50px;
      font-style: normal;
      font-weight: normal;
      font-size: 11.2508px;
      line-height: 18px;
      color: #FFFFFF;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: absolute;
      top: -8px;
      right: -8px;
    }
    .account-btn {
      width: 42.75px;
      height: 42.75px;
      background: #16CFB0;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .login-btn {
      width: 123px;
      height: 42.75px;
      background: #16CFB0;
      border-radius: 7.5px;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .burger-btn {
      height: 42.75px;
      align-items: center;
      justify-content: center;
      ul {
        margin: 0;
        padding: 6px 24px;
        list-style: none;
      }
      a:before {
        display: none;
      }
    }
    .burger-btn, .burger-btn .dropdown-toggle:after {
      display: none;
    }
  }
  @include mediaQueries(pad) {
    .burger-btn {
      display: flex !important;
      position: unset;
    }
    .burger-btn > .dropdown-menu {
      right: 0;
      border-radius: 0;
      width: 50%;
    }
    .desktop-link {
      display: none;
    }
  }
  @include mediaQueries(mobile) {
    padding: 30px 16px;
    .logo {
      width: 110px;
      height: 33.59px;
    }
    .burger-btn {
      display: flex !important;
      position: unset;
    }
    .burger-btn > .dropdown-menu {
      left: 0;
      right: 0;
      border-radius: 0;
    }
    .desktop-link, .search-container {
      display: none;
    }
  }
}

.footer {
  height: 155px;
  background: #0098ff;
  a {
    font-style: normal;
    font-weight: normal;
    font-size: 11.25px;
    line-height: 18px;
    color: #ffffff;
  }
  .nav-link img {
    max-width: 27px;
  }
  .bottom-nav {
    margin-top: 20px;
  }
  @include mediaQueries(mobile) {
    height: 207px;
    .container {
      div:first-child {
        display: block !important;
        text-align: center;
        .logo {
          width: 120px;
          height: 36.64px;
        }
      }
      div:last-child {
        margin-top: 30px;
        justify-content: space-evenly !important;
        a {
          padding: 0;
          font-size: 11px;
          line-height: 17px;
        }
        img {
          max-width: 25px;
        }
      }
    }
  }
}

#hidden-iframe {
  display: none;
}
