.header {
    border: none;
    padding: 0 30px;
    height: 111px;
    margin-bottom: 0;
    .main {
        border: none;
        background: transparent;
        filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.07));
    }
    &.header-login {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    &.scrolled {
        background: #F1F5F8 !important;
    }
    .divider {
        margin-left: 30px;
        height: 37px;
        min-width: 1px;
        border-radius: 8px;
        background-color: #181818;
    }
    .mobile-search {
        display: none;
    }
    .mobile-search-div {
        display: none;
    }
    .spinner-border {
        margin: 10px 0;
        width: 20px;
        height: 20px;
    }
    .profileWrapper {
        display: flex;
        align-items: center;
        .profilePic {
            width: 24px;
            height: auto;
            border-radius: 100%;
            object-fit: cover;
        }
        p {
            //styleName: B2 - Regular;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: left;
            color: #054FF0;
        }
    }
    .account-btn:hover p {
        text-decoration: underline;
    }
    .right-col {
        flex: auto;
        >a,
        .search-container,
        .dropdown .dropdown-toggle {
            font-style: normal;
            font-weight: normal;
            font-size: 15.0011px;
            line-height: 24px;
            color: #000000;
            padding: 0;
            margin-left: 30px;
            position: relative;
        }
        .search-container {
            position: relative;
            input {
                width: 204px;
                background: transparent;
                border-radius: 0;
                outline: 0;
                border: none;
                border-bottom: 1px solid #000000;
                padding: 5px 25px 5px 20px;
                background: url("../../icon/search.svg") no-repeat 98% center;
            }
            .results {
                position: absolute;
                background: #fff;
                top: 34px;
                width: 204px;
                max-height: 230px;
                overflow-y: auto;
                padding: 0;
                list-style: none;
                border-top: 0;
                border: 1px solid #707070;
                font-size: 12px;
                li {
                    border-bottom: 1px solid #707070;
                    p {
                        cursor: pointer;
                        margin-bottom: 0;
                        padding: 10px 15px;
                        transition: .3s ease;
                        &:hover {
                            background: #0098ff;
                            color: #fff;
                            transition: .3s ease;
                        }
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
        .cart-btn {
            p {
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0px;
                text-align: left;
                color: #054FF0;
            }
        }
        .cart-btn:hover p {
            text-decoration: underline;
        }
        .count {
            width: 18.75px;
            height: 18.75px;
            background: #fc4a4a;
            border-radius: 50px;
            font-style: normal;
            font-weight: normal;
            font-size: 11.2508px;
            line-height: 18px;
            color: #ffffff;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        .account-btn {
            height: 48px;
            width: 196px;
            border-radius: 40px;
            padding: 12px 24px 12px 24px;
            border: 2px solid #054FF0;
        }
        .login-btn {
            height: 54px;
            width: auto;
            border-radius: 40px;
            background: #054FF0;
            border: 1px solid #054FF0;
            padding: 15px 32px;

            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;

            display: flex;
            align-items: center;
            justify-content: center;

            :hover {
                background-color: #0D1834;
                border: 1px solid #0D1834;
            }
            @include mediaQueries(mobile) {
                width: 100px;
                margin-left: 15px;
            }
        }
        .burger-btn {
            height: 42.75px;
            align-items: center;
            justify-content: center;
            ul {
                margin: 0;
                padding: 6px 24px;
                list-style: none;
            }
            a:before {
                display: none;
            }
        }
        .burger-btn,
        .burger-btn .dropdown-toggle:after {
            display: none;
        }
    }
    @include mediaQueries(pad) {
        .burger-btn {
            display: flex !important;
            position: unset;
        }
        .burger-btn>.dropdown-menu {
            right: 0;
            border-radius: 0;
            width: 50%;
        }
        .desktop-link {
            display: none;
        }
    }
    @include mediaQueries(mobile) {
        padding: 15px 16px;
        height: auto !important;
        .cart-btn,
        .account-btn {
            margin-left: 15px !important;
        }
        .burger-btn {
            a {
                margin-left: 15px !important;
            }
        }
        .logo {
            width: 110px;
            height: 33.59px;
        }
        .burger-btn {
            display: flex !important;
            position: unset;
        }
        .burger-btn>.dropdown-menu {
            left: 0;
            right: 0;
            border-radius: 0;
        }
        .desktop-link,
        .search-container {
            display: none;
        }
        .mobile-search-div {
            display: block;
            margin-left: 20px;
            img {
                width: 25px;
            }
        }
        .mobile-search {
            padding: 20px 15px 0 15px;
            display: block;
            input {
                background-color: #ececec;
                background-image: url('../../icon/search-green-ico.svg');
                background-repeat: no-repeat;
                background-position: 10px center;
                width: 100%;
                border: 0;
                border-radius: 70px;
                padding: 5px 40px;
                &:focus {
                    outline: none;
                }
            }
            .results {
                position: absolute;
                background: #fff;
                top: 56px;
                width: 94%;
                max-height: 230px;
                overflow-y: auto;
                padding: 0;
                list-style: none;
                border: 1px solid #707070;
                font-size: 14px;
                li {
                    border-bottom: 1px solid #707070;
                    p {
                        cursor: pointer;
                        margin-bottom: 0;
                        padding: 10px 15px;
                        transition: .3s ease;
                        &:hover {
                            background: #0098ff;
                            color: #fff;
                            transition: .3s ease;
                        }
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
            .clear-search {
                position: absolute;
                top: 24px;
                right: 24px;
            }
        }
    }
}

.footer {
    height: 839px;
    background: #0D1834;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 96px 110px;
    color: #F6F5F3;
    gap: 20px;

    span {
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .footer-input-container {
        display: flex;
        align-items: end;
        border-radius: 20px;
        gap: 10px;

        .footer-input {
            border: none;
            height: 61px;
            padding: 20px;
            border-bottom: 1px solid #838B98;
            flex-grow: 1;
            color: #F6F4F2;
        }

        input:focus {
            outline: none;
        }

        button {
            width: auto;
            border-radius: 56px;
            padding: 20px 32px;
            border: none;
            background: #054FF0;

            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: left;
            color: #F6F5F3;
        }
    }

    .logo-container {
        margin-bottom: 62px;
    }

    input {
        background: transparent;
        border-top: none;
        border-left: none;
    }

    .footer-links {
        .footer-columns {
            & > *:not(:last-child) {
                margin-right: 42px;
            }

            .footer-column {
                font-size: 16px;
                text-align: left;

                .column-heading {
                    margin-bottom: 26px;
                }

                & > .footer-link:not(:last-child) {
                    margin-bottom: 18px;
                }

                .footer-link {
                    font-size: 24px;
                    text-align: left;
                    color: #F6F5F3;
                }
                .footer-link:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .social-links {
            & > *:not(:last-child) {
                margin-bottom: 32px;
            }
            .social-link {
                img {
                    margin-right: 18px;
                }
                a {
                    font-size: 24px;
                    text-align: left;
                    color: #F6F5F3;
                }
                a:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
    // a {
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 11.25px;
    //     line-height: 18px;
    //     color: #ffffff;
    // }
    // .nav-link img {
    //     max-width: 27px;
    // }
    // .bottom-nav {
    //     margin-top: 20px;
    // }
    // @include mediaQueries(mobile) {
    //     height: 207px;
    //     .container {
    //         div:first-child {
    //             display: block !important;
    //             text-align: center;
    //             .logo {
    //                 width: 120px;
    //                 height: 36.64px;
    //             }
    //         }
    //         div:last-child {
    //             margin-top: 30px;
    //             justify-content: space-evenly !important;
    //             a {
    //                 padding: 0;
    //                 font-size: 11px;
    //                 line-height: 17px;
    //             }
    //             img {
    //                 max-width: 25px;
    //             }
    //         }
    //     }
    // }
}

.search-container {
    position: relative;
    input {
        background: transparent;
        border-radius: 0;
        outline: 0;
        border: none;
        border-bottom: 1px solid #000000;
        padding: 5px 25px 5px 20px;
        background: url("../../icon/search.svg") no-repeat 98% center;
    }
    .suggestions {
        position: absolute;
        background: #fff;
        top: 34px;
        width: 100%;
        max-height: 430px;
        overflow-y: auto;
        padding: 0;
        list-style: none;
        border-top: 0;
        border: 1px solid #707070;
        font-size: 12px;
        z-index: 99;
        li {
            border-bottom: 1px solid #707070;
            p {
                cursor: pointer;
                margin-bottom: 0;
                padding: 10px 15px;
                transition: .3s ease;
                &:hover {
                    background: #0098ff;
                    color: #fff;
                    transition: .3s ease;
                }
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.time-settings {
    width: 200px;

    .select-hour-and-minute {
        padding: 5px 25px 5px 20px;
        margin-bottom: 20px;
    }

    .select-day {
        padding: 5px 25px 5px 20px;
        margin-bottom: 20px;
    }
}

#hidden-iframe {
    display: none;
}