.products-container {
    h2 {
        font-size: 64px;
        text-align: left;
        color: #0D1834;
        margin-bottom: 0;
    }

    .spinner-container {
        min-height: 500px;

        .spinner-border {
            width: 100px;
            height: 100px;
        }
    }
  .search-container {
    position: relative;
    @include mediaQueries(mobile) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 10px;
      order: 1;
    }
    input {
      width: 300px;
      background: #FFFFFF;
      border-radius: 56px;
      margin-right: 38px;
      height: 67px;
      width: 367px;
      border-radius: 56px;
      padding: 24px 33px 24px 33px;
      border: 1px solid #CED9DB;
      padding: 5px 25px 5px 20px;
      background: url("../../icon/search.svg") no-repeat 90% center;
      @include mediaQueries(mobile) {
        width: 100%;
      }
    }
  }
  .top-details {
    padding: 0 0 19px 0;

    @include mediaQueries(padpro) {
      // display: block !important;
    }
    @include mediaQueries(pad) {
      // display: block !important;
      flex-wrap: wrap;
    }
    @include mediaQueries(mobile) {
      // padding: 0 10px;
      &.search-wrapper {
        flex-direction: column;
      }
    }
    .search-for {
      font-style: normal;
      font-family: "Axiforma Bold";
      font-weight: bold;
      font-size: 30px;
      line-height: 67px;
      color: #000000;
      margin-bottom: 0;
      @include mediaQueries(pad) {
        font-size: 25px;
        line-height: 41px;
      }
      @include mediaQueries(mobile) {
        font-size: 25px;
        line-height: 41px;
      }
    }
    .sort-label {
      @include mediaQueries(pad) {
        // display: none;
      }
      @include mediaQueries(mobile) {
        display: none;
      }
    }
    .total-products {
      font-family: "Axiforma Bold";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: #000000;
      margin: 0;
      @include mediaQueries(pad) {
        // display: none;
        margin-bottom: 10px;
      }
      @include mediaQueries(mobile) {
        display: none;
      }
    }
    .filter-view-container {
      // height: 67px;
      @include mediaQueries(pad) {
        margin-left: 0;
        // min-width: 100%;
        min-width: unset;
      }
      @include mediaQueries(mobile) {
        margin-left: 0;
        min-width: 100%;
        flex-wrap: wrap;
      }
    }
    .sort-by {
        font-family: 'Helvetica Neue LT Pro';
        height: 67px;
        border-radius: 56px;
        width: 100%;
        max-width: 210px;
        padding: 10px 20px;
        background: #EFEFEF;

        padding: 10px;
        white-space: nowrap;
        flex: 1;

        @include mediaQueries(pad) {
            // flex: 1;
        }

        @include mediaQueries(mobile) {
            flex: 1;
            order: 2;
        }
    }
    .view {
      @include mediaQueries(mobile) {
        order: 3;
      }
    }
    .sort-label {
      font-style: normal;
      font-family: "Helvetica Neue LT Pro";
      font-weight: normal;
      font-size: 18px;
      line-height: 41px;
      color: #000000;
      margin-bottom: 0;
      @include mediaQueries(pad) {
        label {
          font-size: 18px;
        }
      }
      @include mediaQueries(mobile) {
        label {
          font-size: 18px;
        }
      }
    }
    .sort-stock-label {
      cursor: pointer;
    }
    .dropdown-toggle {
      padding: 5px 35px 5px 20px;
      background: #f0f0f0;
      border: 0;
      text-transform: capitalize;
      outline: 0;
      font-family: "Helvetica Neue LT Pro";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 32px;
      text-align: center;
      color: #000000;
      align-items: center;
      justify-content: center;
      position: relative;
      @include mediaQueries(pad) {
        width: 99.98px;
        height: 29.7px;
        font-size: 14.4902px;
        line-height: 23px;
      }
      @include mediaQueries(mobile) {
        width: 99.98px;
        height: 29.7px;
        font-size: 14.4902px;
        line-height: 23px;
      }
      &::after {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
    .dropdown-menu {
      border-radius: 0;
      width: 138px;
      min-width: unset;
      span {
        cursor: pointer;
      }
    }
    .grid-btn,
    .list-btn {
      width: 34px;
      height: 31px;
      background: #ffffff;
      border: 0;
      outline: 0;
      border-radius: 5px;
    }
    .grid-btn {
      background: url("../../icon/grid.svg") no-repeat center;
      margin-right: 10px;
      &.active {
        background: url("../../icon/grid-active.svg") no-repeat center;
        background-color: #d3f1fc;
      }
    }
    .list-btn {
      background: url("../../icon/list.svg") no-repeat center;
      &.active {
        background: url("../../icon/list-active.svg") no-repeat center;
        background-color: #d3f1fc;
      }
    }
  }
  .products {
    @include mediaQueries(padpro) {
      // margin-top: 40px;
    }
    @include mediaQueries(pad) {
      // margin-top: 40px;
    }
    .for-list,
    .list-header {
      display: none;
    }
    &.list-view {
      .col-12:not(:last-child) {
        margin-bottom: 30px;
      }
      .col-4 {
        width: 100%;
        max-width: unset !important;
        flex: 100%;
      }
      @include mediaQueries(mobile) {
        margin-top: 40px;
      }
      .to-buy {
        display: block;
      }
      .product {
        width: 100%;
        // min-height: 149px;
        display: flex;
        align-items: center;
        background: #d3f2fc;
        padding: 10px 20px;
        margin-bottom: 20px;
        .price-wrapper {
          display: none;
          @include mediaQueries(padpro) {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: right;
            text-align: right;
            .cart-btn {
              width: 79px;
              height: 32px;
              background: #16cfb0;
              border-radius: 5px;
              position: static;
              &:before {
                content: "Add";
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: #e47c7c;
              }
            }
            .price {
              display: block;
              text-align: right;
            }
          }
          @include mediaQueries(pad) {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: right;
            text-align: right;
            .cart-btn {
              width: 79px;
              height: 32px;
              background: #16cfb0;
              border-radius: 5px;
              position: static;
              &:before {
                content: "Add";
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: #ffffff;
              }
            }
            .price {
              display: block;
              text-align: right;
            }
          }
          @include mediaQueries(mobile) {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: right;
            text-align: right;
            .cart-btn {
              width: 79px;
              height: 32px;
              background: #16cfb0;
              border-radius: 5px;
              position: static;
              &:before {
                content: "Add";
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: #ffffff;
              }
            }
            .price {
              display: block;
              text-align: right;
            }
          }
        }
        @include mediaQueries(custom-shop) {
          flex-direction: column;
          align-items: flex-start;
          padding: 20px 15px;
          .price,
          .ppu {
            padding-right: 0;
            font-size: 15px;
            line-height: 25px;
            min-height: auto;
          }
        }
        @include mediaQueries(padpro) {
          flex-direction: column;
          align-items: flex-start;
          padding: 20px 15px;
          .price,
          .ppu {
            padding-right: 0;
            font-size: 15px;
            line-height: 25px;
            min-height: auto;
          }
        }
        @include mediaQueries(pad) {
          flex-direction: column;
          align-items: flex-start;
          padding: 20px 15px;
          .price,
          .ppu {
            padding-right: 0;
            font-size: 15px;
            line-height: 25px;
            min-height: auto;
          }
        }
        @include mediaQueries(mobile) {
          flex-direction: column;
          align-items: flex-start;
          padding: 20px 15px;
          .price,
          .ppu {
            padding-right: 0;
            font-size: 15px;
            line-height: 25px;
            min-height: auto;
          }
        }
        .mobile-wrapper {
          display: none;
          @include mediaQueries(custom-shop) {
            display: block;
            width: 100%;
            max-width: 100%;
            .mobile-list-header {
              display: flex;
              align-items: center;
              justify-content: space-around;
              width: 73%;
              margin-left: auto;
              .header-name-wrapper {
                width: 100%;
                padding-right: 15px;
              }
              .product-image-head {
                max-width: 40%;
              }
              .list-header-name {
                font-family: "Axiforma Bold";
              }
              .list-header-price {
                min-width: 80px;
                font-family: "Axiforma Bold";
              }
            }
          }
          @include mediaQueries(padpro) {
            display: block;
            width: 100%;
            max-width: 100%;
            .mobile-list-header {
              display: flex;
              align-items: center;
              justify-content: space-around;
              width: 73%;
              margin-left: auto;
              .header-name-wrapper {
                width: 100%;
                padding-right: 15px;
              }
              .product-image-head {
                max-width: 40%;
              }
              .list-header-name {
                font-family: "Axiforma Bold";
              }
              .list-header-price {
                min-width: 80px;
                font-family: "Axiforma Bold";
              }
            }
          }
          @include mediaQueries(pad) {
            display: block;
            // width: 60%;
            // margin-left: auto;
            .mobile-list-header {
              display: flex;
              align-items: center;
              justify-content: space-around;
              width: 100%;
              font-size: 18px;
              .header-name-wrapper {
                padding-right: 15px;
                max-width: 100%;
                width: 100%;
              }
              .product-image-head {
                max-width: 100%;
                width: 50%;
              }
              .list-header-name {
                font-family: "Axiforma Bold";
              }
              .list-header-price {
                min-width: 80px;
                font-family: "Axiforma Bold";
              }
            }
          }
          @include mediaQueries(mobile) {
            display: block;
            // width: 75%;
            margin-left: auto;
            .mobile-list-header {
              display: flex;
              align-items: center;
              justify-content: space-around;
              width: 100%;
              .header-name-wrapper {
                padding-right: 15px;
              }
              .product-image-head {
              }
              .list-header-name {
                font-family: "Axiforma Bold";
              }
              .list-header-price {
                font-family: "Axiforma Bold";
              }
            }
          }
        }
        .product-details-container {
          display: flex;
          width: 100%;
          // @include mediaQueries(padpro) {
          //     width: 100%;
          //     max-width: 100%;
          //     justify-content: space-around;
          // }
          // @include mediaQueries(pad) {
          //     width: 100%;
          //     max-width: 100%;
          //     justify-content: space-around;
          // }
          // @include mediaQueries(mobile) {
          //     width: 100%;
          //     max-width: 100%;
          // }
          .img-container {
            @include mediaQueries(custom-shop) {
              // max-width: 25%;
              img {
                width: 100%;
              }
            }
            @include mediaQueries(padpro) {
              max-width: 20%;
              margin-right: 20px;
            }
            @include mediaQueries(pad) {
              max-width: 20%;
              margin-right: 20px;
            }
            @include mediaQueries(mobile) {
              max-width: 35%;
              margin-right: 20px;
            }
          }
          .details-container {
            @include mediaQueries(custom-shop) {
              max-width: 100% !important;
            }
            @include mediaQueries(padpro) {
              max-width: 100% !important;
            }
            @include mediaQueries(pad) {
              max-width: 100% !important;
            }
          }
        }
      }
      .for-list {
        display: block;
      }
      .list-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 0 105px;
        margin-bottom: 38px;
        @include mediaQueries(padpro) {
          display: none;
        }
        @include mediaQueries(pad) {
          display: none;
        }
        .mobile-item-number {
          display: none;
          @include mediaQueries(pad) {
            display: block;
          }
        }
        @include mediaQueries(mobile) {
          display: none;
        }
        .mobile-item-number {
          display: none;
          @include mediaQueries(mobile) {
            display: block;
          }
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 29px;
          text-align: center;
          color: #000000;
          margin: 0;
        }
        div,
        & > p {
          margin-right: 20px;
        }
        div:last-of-type {
          margin-right: 0;
        }
      }
      .star {
        position: static;
      }
      .img-container,
      .details-container {
        background: none !important;
        display: flex;
        align-items: center;
        padding: 0;
        width: unset;
        height: unset;
        @include mediaQueries(custom-shop) {
          // display: block;
          width: 100% !important;
          max-width: 155px;
        }
        @include mediaQueries(padpro) {
          // display: block;
          width: 100% !important;
          max-width: 155px;
        }
        @include mediaQueries(pad) {
          // display: block;
          width: 100% !important;
          max-width: 155px;
        }
        @include mediaQueries(mobile) {
          display: block;
          max-width: 155px;
        }
      }
      .img-container,
      .img-container img {
        margin: 0;
        width: 65px;
        height: 100%;
        object-fit: contain;
        @include mediaQueries(padpro) {
          width: 100%;
        }
        @include mediaQueries(pad) {
          width: 100%;
        }
        @include mediaQueries(mobile) {
          width: 100%;
        }
      }
      .details-container {
        flex: auto;
        justify-content: space-between;
        padding-left: 20px;
        @include mediaQueries(padpro) {
          > div,
          > p {
            width: 30%;
          }
        }
        @include mediaQueries(pad) {
          padding: 0;
          max-width: 50%;
          > div,
          > p {
            width: 20%;
          }
        }
        @include mediaQueries(mobile) {
          padding: 0;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 25px;
          text-align: center;
          color: #000000;
          margin: 0;
          display: block;
          min-height: unset;
          padding: 0;
          @include mediaQueries(custom-shop) {
            text-align: left;
            margin-bottom: 10px;
            word-break: break-all;
          }
          @include mediaQueries(padpro) {
            text-align: left;
            margin-bottom: 10px;
            word-break: break-all;
          }
          @include mediaQueries(pad) {
            text-align: left;
            margin-bottom: 10px;
            word-break: break-all;
          }
          @include mediaQueries(mobile) {
            text-align: left;
            margin-bottom: 10px;
            word-break: break-all;
          }
        }
        & > div p:first-child {
          font-weight: bold;
        }
        div,
        & > p {
          margin-right: 20px;
        }
        & > p:last-of-type {
          margin-right: 0;
        }
        input {
          width: 79px;
          height: 32px;
          // width: 50px;
          // height: 25px;
          background: #ffffff;
          border-radius: 5px;
          border: 0;
          outline: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 29px;
          color: #000000;
          text-align: center;
          margin-bottom: 10px;
          // @include mediaQueries(mobile) {
          //     width: 100%;
          // }
          // @include mediaQueries(pad) {
          //     width: 100%;
          // }
          // @include mediaQueries(padpro) {
          //     width: 100%;
          // }
        }
        .cart-btn {
          width: 79px;
          height: 32px;
          background: #16cfb0;
          border-radius: 5px;
          position: static;
          &:before {
            content: "Add";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #ffffff;
          }
          &.adding {
            display: flex !important;
            align-items: center;
            justify-content: center;
            .spinner-border {
              margin: 0;
              width: 20px;
              height: 20px;
            }
            &:before {
              display: none !important;
            }
          }
          // @include mediaQueries(padpro) {
          //     display: none;
          // }
          // @include mediaQueries(pad) {
          //     display: none;
          // }
          // @include mediaQueries(mobile) {
          //     display: none;
          // }
        }
      }
      .list-header,
      .details-container {
        .no-container {
          min-width: 120px;
        }
        .name-container {
          flex: auto;
          @include mediaQueries(custom-shop) {
            display: none;
          }
          @include mediaQueries(padpro) {
            display: none;
          }
          @include mediaQueries(pad) {
            display: none;
          }
          @include mediaQueries(mobile) {
            display: none;
          }
        }
        .company {
          min-width: 125px;
          width: 125px;
          max-width: 125px;
        }
        .buy-container {
          // min-width: 79px;
          max-width: 145px;
          @include mediaQueries(pad) {
            display: block !important;
            button {
              margin-top: 10px;
            }
          }
        }
        .size,
        .incart {
          min-width: 51px;
        }
        .price-container {
          min-width: 100px;
        }
        .strength {
          min-width: 75px;
        }
        .price-container {
          // .price,
          .ppu {
            @include mediaQueries(padpro) {
              display: none;
            }
            @include mediaQueries(pad) {
              display: none;
            }
            @include mediaQueries(mobile) {
              display: none;
            }
          }
        }
      }
        .sale-rep-btn {
            height: 40px;
            width: 177px;
            border-radius: 40px;
            background-color: #054FF0;
            border: 1px solid #054FF0;

            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;

            &:hover {
                border: 1px solid #0D1834;
                background-color: #0D1834;
            }

            @include mediaQueries(padpro) {
                font-size: 12px;
            }
            @include mediaQueries(pad) {
                font-size: 12px;
            }
            @include mediaQueries(mobile) {
                font-size: 12px;
            }
        }
    }
  }

    .product-row {
        background: #FFFFFF;
        border: 1px solid #CED9DB;
        height: 315px;
        border-radius: 40px;
        padding: 48px 57px 48px 57px;
        gap: 60px;


        .product-image-container {
            height: 200px;
            width: 200px;
            border-radius: 25px;
            background: #CED9DB;
            padding: 24px;

            img {
                height: 161px;
                width: 161px;
            }
        }

        .product-image-container:hover {
            cursor: pointer;
        }

        .product-details {
            & > div:not(:last-child) {
                margin-bottom: 18px;
            }

            .category {
                margin-bottom: 32px;
            }

            h5 {
                color: #1C1C1C;
            }

            label {
                margin: 0;
                color: #4F4F4F;
            }

            span: {
                color: #0D1834;
            }

            .category {
                background: #CED9DB;
                height: 25px;
                width: auto;
                border-radius: 8px;
                padding: 6px 16px 6px 16px;
                line-height: 15px;
                color: #0D1834;
                white-space: nowrap;
            }

            .product-number,
            .product-manufacturer,
            .product-strength,
            .product-ppu {
                gap: 10px;
                height: 41px;
                width: 240px;
                border-radius: 20px;
                padding: 10px 20px 10px 20px;
                background-color: #F6F5F3;
            }

            .product-manufacturer {
                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .product-ndc,
            .product-size {
                width: 158px;
                height: 21px;
            }
        }

        .product-actions {
            padding: 33px 28px;
            height: 220px;
            width: 314px;
            border-radius: 0px 30px 30px 0px;
            background: #F6F5F3;

            .product-price {
                font-family: 'Helvetica Neue LT Pro';
                font-size: 32px;
                font-weight: 700;
                line-height: 40px;
                text-align: left;
                color: #1C1C1C;
                white-space: nowrap;
            }

            .qty-container {
                .minus-btn,
                .plus-btn {
                    padding: 10px 16px;
                    border: #054FF0;
                    background: #054FF0;
                    color: #FFFFFF;

                    &:hover {
                        border: #0D1834;
                        background: #0D1834;
                    }
                }

                .minus-btn {
                    border-top-left-radius: 40px;
                    border-bottom-left-radius: 40px;
                }

                .plus-btn {
                    border-top-right-radius: 40px;
                    border-bottom-right-radius: 40px;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    display: none;
                }

                input[type="number"] {
                    border: none;
                    width: 110px;
                    padding: 10px;
                    background: #FFFFFF;
                    text-align: center;
                    box-shadow: 0px 4px 104px 0px #0000000D;
                }
            }

            .product-buttons {
                .add-to-cart {
                    height: 40px;
                    width: 191px;
                    border-radius: 40px;
                    background: #054FF0;
                    border: 1px solid #054FF0;
                    color: #FFFFFF;
                }

                .add-to-cart:hover {
                    border: 1px solid #0D1834;
                    background-color: #0D1834;
                }

                .favorite-btn {
                    height: 40px;
                    width: 40px;
                    background: #FFFFFF;
                    border-radius: 40px;
                    position: relative;
                    box-shadow: 0px 4px 104px 0px #0000000D;
                    cursor: pointer;
                    
                    .fadeIn {
                        animation: fadeInAnimation 2s;
                    }
                    
                    @keyframes fadeInAnimation {
                        from { opacity: 0; }
                        to   { opacity: 1; }
                    }
                    // .heart-icon {
                    //     position: absolute;
                    //     top: 50%;
                    //     left: 50%;
                    //     transform: translate(-50%, -50%);
                    //     width: 20px;
                    //     height: 20px;
                    //     border: 2px solid #007aff;
                    //     border-radius: 50%;
                    //     transition: all 0.3s ease;
                  
                    //     &:before {
                    //         content: "";
                    //         position: absolute;
                    //         top: -2px;
                    //         left: -2px;
                    //         width: 100%;
                    //         height: 100%;
                    //         border-radius: 50%;
                    //         border: 2px solid transparent;
                    //         transition: all 0.3s ease;
                    //     }
                  
                    //     &:after {
                    //         content: "";
                    //         position: absolute;
                    //         top: 4px;
                    //         left: 0;
                    //         width: 16px;
                    //         height: 16px;
                    //         border-radius: 50%;
                    //         background-color: #007aff;
                    //         transform: scaleY(0);
                    //         transform-origin: bottom;
                    //         transition: all 0.3s ease;
                    //     }
                    // }
                  
                    // &.preferred {
                    //     .heart-icon {
                    //         &:before {
                    //             border-color: #007aff;
                    //         }
                    
                    //         &:after {
                    //             transform: scaleY(1);
                    //         }
                    //     }
                    // }
                }

                & > *:not(:last-child) {
                    margin-right: 23px;
                }
            }
        }
    }

    .product-container {
        max-width: 293px;
        margin-bottom: 56px;

        .product-image-container {
            height: 284px;
            width: 293px;
            border-radius: 25px;
            background: #F6F5F3;
            padding: 39px 43px;
        }

        .product-image-container:hover {
            cursor: pointer;
        }

        hr {
            border-top: 1px solid #0D1834;
        }

        .product-details {
            & > *:not(:last-child) {
                margin-bottom: 8px;
            }

            .product-name {
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;
                text-align: left;
                color: #0D1834;
                max-width: 230px;
            }
            .product-price {
                font-size: 16px;
                font-weight: 700;
                line-height: 21px;
                text-align: right;
                color: #0D1834;
                white-space: nowrap;
            }
            .category {
                background: #CED9DB;
                width: auto;
                border-radius: 8px;
                padding: 6px 16px 6px 16px;
                line-height: 15px;
                color: #0D1834;
                max-width: 170px;
            }
            .product-ppu {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                color: #0D1834;
            }
            .product-size {
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
                letter-spacing: 0em;
                color: #0D1834;
            }
        }

        .product-actions {
            .add-to-cart {
                height: 40px;
                width: 191px;
                border-radius: 40px;
                background: #054FF0;
                border: 1px solid #054FF0;
                color: #FFFFFF;
            }

            .add-to-cart:hover {
                border: 1px solid #0D1834;
                background-color: #0D1834;
            }
        }
    }

  .products:not(.list-view) .row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .product {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .product-details-container {
      display: flex;
      flex-direction: column;
      flex: auto;
      position: relative;
    }
    .details-container {
      flex: auto;
      display: flex;
      flex-direction: column;
    }
    .name-container {
      flex: auto;
    }
  }
  .product {
    width: 239px;
    max-width: 100%;
    margin: 0 auto 30px auto;
    @include mediaQueries(mobile) {
      width: 100%;
    }
    .star {
      width: 30px;
      font-family: "Verdana";
      font-size: 20px;
      color: #16cfb0;
      display: flex;
      align-items: center;

      position: absolute;
      z-index: 1;
      top: 10px;
      left: 5px;

      @include mediaQueries(mobile) {
        align-items: flex-start;
      }

      @include mediaQueries(pad) {
        align-items: flex-start;
      }

      @include mediaQueries(padpro) {
        align-items: flex-start;
      }

      cursor: pointer;
      &.preferred:before {
        content: "\2605";
      }
      &:before {
        content: "\2606";
      }
    }
    .to-buy {
      display: none;
    }
    .name-container {
      cursor: pointer !important;
      font-size: 13px;
      line-height: 26px;
      color: #000000;
      margin-bottom: 5px;
      font-weight: bold;
    }
    .price {
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 21px;
      color: #000000;
      margin: 0;
      min-height: 48px;
      padding-right: 79px;
      display: flex;
      align-items: center;
    }
    .cart-btn {
      width: 68px;
      height: 42px;
      background: url("../../icon/cart.svg") no-repeat center;
      background-color: #16cfb0;
      border-radius: 7.5px;
      border: 0;
      outline: 0;
      position: absolute;
      bottom: 20px;
      right: 35px;
      &.adding {
        background: #16cfb0;
      }
      .spinner-border {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }
  .pharma-product {
    .product-details-container {
      position: relative;
    }
    .img-container {
      cursor: pointer;
      width: calc(100% - 70px);
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("../../img/pharma-bg.png") no-repeat center;
      background-size: cover;
      border-radius: 10px;
      padding: 24px 29px 21px 29px;
      margin: 0 auto -130px auto;
      position: relative;
      z-index: 1;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .details-container {
      background: #d3f2fc;
      border-radius: 10px;
      padding: 150px 27px 20px 27px;
      position: relative;
    }
  }
  .vet-product,
  .medsurg-product {
    .img-container {
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background: url("../../img/vet-bg.png") no-repeat top;
      background-size: contain;
      position: relative;
      margin-bottom: 25px;
      padding-top: 66px;
      padding-left: 64px;
      padding-right: 64px;
      img {
        width: 100%;
        object-fit: cover;
        margin-bottom: -25px;
      }
    }
    .details-container {
      padding: 20px 35px;
      position: relative;
    }
  }
  .medsurg-product .img-container {
    background: url("../../img/medsurg-bg.png") no-repeat top;
    background-size: contain;
  }
  .header-price-wrapper {
    display: none;
  }
  @include mediaQueries(custom-shop) {
    .header-price-wrapper-show {
      display: block;
    }
  }
}

.pagination-products,
.pagination-orders,
.pagination-logs {
  margin-top: 40px;
  margin-bottom: 100px;

  ul {
    display: block;
    text-align: center;
    position: relative;
    &.empty {
      display: none;
    }
    li {
      display: inline;
      margin-right: 20px;
      @include mediaQueries(mobile) {
        margin-right: 5px;
      }
      a {
        font-size: 13px;
        padding: 7px 15px;
        border-radius: 5px;
        font-weight: bold;
      }
      &.active {
        a {
          background: #16cfb0;
          color: #fff;
        }
      }
      &.disabled {
        display: none;
      }
    }
    .previous {
      position: absolute;
      left: 0;
      margin-right: 0px;
      @include mediaQueries(mobile) {
        display: none;
      }
      a {
        &::before {
          content: "<";
          margin-right: 5px;
        }
      }
    }
    .next {
      position: absolute;
      right: 0;
      margin-right: 0px;
      @include mediaQueries(mobile) {
        display: none;
      }
      a {
        &::after {
          content: ">";
          margin-left: 5px;
        }
      }
    }
  }
}
