.notificationBanner {
    background: #0098ff;
    border-radius: 5px;
    padding: 19px 10px;
    .bannerIcon{
        height: 26.25px;
        width: 22.5px;
        margin-right: 10px;
    }
    .banner-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #ffffff;
    }
    .close{
        color: #FFF;
    }
    @include mediaQueries(mobile) {
        padding: 19px 8px;
    }
}