.approval-page {
    background-color: #F1F5F8;
    height: 100vh;

    img {
        margin-bottom: 42px;
    }
    p {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #0D1834;

        max-width: 590px;
        margin-bottom: 32px;
    }
    h2 {
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -1px;
        text-align: left;
        color: #054FF0;
    }

    .primaryButton {
        height: 48px;
        border-radius: 40px;
        padding: 12px 32px;
        background-color: #054FF0;

        border: 2px solid #054FF0;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: #F1F5F8;

        &:hover {
            background-color: #F1F5F8;
            color: #054FF0;
            text-decoration: underline;
        }
    }

    @include mediaQueries(mobile) {
        padding: 50px 16px;

        > div,
        .card {
            width: 100%;
        }
        h2 {
            font-size: 22px;
            line-height: 47px;
        }
    }
}
