.cart-page {
  padding: 90px 0;
  .section-title {
    font-family: "Axiforma Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 58px;
    color: #4f4f4f;
  }
  .row-wrapper {
    padding: 0 40px;
    @include mediaQueries(mobile) {
      padding: 0 15px;
    }
  }
  @include mediaQueries(padpro) {
    .product-column, .order-column{
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
  .card {
    min-height: 479px;
    &.product-card {
      filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.07));
      border-radius: 10px;
      .delete-icon {
        @include mediaQueries(mobile) {
          max-width: 22px;
        }
      }
      .product-wrapper {
        position: relative;
        margin-bottom: 40px;
        margin-top: 40px;
        &::before {
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          background: linear-gradient(180deg, #21e8de 0%, #0098ff 100%);
          border-top-right-radius: 204.171px;
          border-bottom-right-radius: 204.171px;
          width: 100%;
          max-width: 582px;
          min-height: 360px;
          margin-top: 40px;
          content: "";
          @include mediaQueries(mobile) {
            min-height: 200px;
          }
        }
        .product-image {
          z-index: 2;
          position: absolute;
          right: 0;
          bottom: 0;
          min-height: 356.39px;
          @include mediaQueries(padpro) {
            height: 255px;
            left: 50%;
            top: 50%;
            min-height: 200px;
            transform: translate(-50%, -50%);
          }
          @include mediaQueries(pad) {
            left: 50%;
            transform: translate(-50%, 0);
          }
          @include mediaQueries(mobile) {
            width: 200px;
            left: 20%;
            min-height: auto;
          }
        }
      }
      .product-desc-wrapper {
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        text-align: left;

        .product-name,
        .variant-text {
          font-family: "Axiforma Bold";
          font-style: normal;
          font-weight: bold;
          font-size: 35px;
          line-height: 58px;
          color: #4f4f4f;
          @include mediaQueries(mobile) {
            font-size: 18px;
            line-height: 33px;
            padding: 10px 15px;
          }
        }
        .price-text {
          font-family: "Axiforma Bold";
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 83px;
          color: #4f4f4f;
          @include mediaQueries(mobile) {
            padding: 5px 15px;
            font-size: 25px;
            line-height: 41px;
          }
        }
        .quantity-text {
          font-family: "Axiforma Bold";
          font-style: normal;
          font-weight: 800;
          font-size: 40px;
          line-height: 67px;
          color: #4f4f4f2c;
          @include mediaQueries(mobile) {
            padding: 10px 15px;
            font-size: 25px;
            line-height: 41px;
          }
        }
      }
    }
    &.order-card {
      padding: 40px;
      min-height: 640px;
      .order-title {
        font-family: "Axiforma Bold";
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 58px;
        color: #4f4f4f;
        @include mediaQueries(mobile) {
          font-size: 22px;
          line-height: 38px;
        }
      }
      .subtotal-text,
      .shipping-text {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 40px;
        color: #4f4f4f;
        margin-bottom: 20px;
        @include mediaQueries(mobile) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .price-text {
        @include mediaQueries(mobile) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .shipping-desc {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 27px;
        color: #4f4f4f;
      }
      .total-text {
        font-family: "Axiforma Bold";
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 58px;
        color: #4f4f4f;
        @include mediaQueries(mobile) {
          font-size: 22px;
          line-height: 38px;
        }
      }
      .total-price-text {
        font-family: "Axiforma Bold";
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 58px;
        color: #4f4f4f;
        @include mediaQueries(mobile) {
          font-size: 25px;
          line-height: 48px;
        }
      }
      .button-wrapper {
        background: #16cfb0;
        border-radius: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        color: #ffffff;
        padding: 23.5px 38.5px;
        &:hover {
          background: linear-gradient(180deg, #21e8de 0%, #0098ff 100%);
          border: 0;
        }
      }
    }
  }
  .shipping-details-wrapper {
    margin-bottom: 120px;
    .customer-name {
      font-family: "Axiforma Bold";
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: 50px;
      color: #4f4f4f;
      display: flex;
      align-items: center;
      flex: 0;
      @include mediaQueries(mobile) {
        font-size: 18px;
      }
    }
    .addressDefault {
      background: #c4c4c4;
      border-radius: 13px;
      color: #fff;
      font-size: 18px;
      line-height: 29px;
      color: #f2f2f2;
      padding: 5px 17px;
      margin-left: 25px;
      @include mediaQueries(mobile) {
        font-size: 10px;
      }
    }
    .customer-address,
    .customer-phone,
    .customer-email {
      color: #4f4f4f;
      @include mediaQueries(mobile) {
        font-size: 18px;
      }
    }
  }
}
