.login {
    background: url('../../img/login-bg.png') no-repeat left;
    background-size: 40% 100%;
    .container {
        min-height: calc(100vh - 200px);
        padding: 150px 12px;
    }
    .card {
        width: 80%;
    }
    .card-body {
        padding: 50px 100px;
    }
    h3 {
        font-size: 37.1591px;
        line-height: 62px;
        color: #000000;
        margin: 0;
    }
    h4 {
        font-size: 27.8693px;
        line-height: 46px;
        color: #0098FF;
        margin: 0;
    }
    form {
        margin-top: 50px;
    }
    input {
        background: #F0F0F0;
        border: none;
        border-radius: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 27.8693px;
        line-height: 44px;
    }
    button {
        width: 187.65px;
        height: 52.95px;
        background: #16CFB0;
        border-radius: 2.78693px;
        font-style: normal;
        font-weight: 600;
        font-size: 18.5795px;
        line-height: 30px;
        color: #FFFFFF;

        &:hover {
            color: #FFFFFF;
            background: darken($color: #16CFB0, $amount: 2);
        }
        &:focus {
            box-shadow: none;
        }
    }
    @include mediaQueries(mobile) {
        background-size: 100% 100%;
        .card {
            width: 100%;
        }
        .card-body {
            padding: 40px 20px;
        }
        form {
            text-align: center !important;
        }
        h3 {
            font-weight: 600;
            font-size: 25px;
            line-height: 41px;
        }
        h4 {
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
        }
        input {
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
        }
        button {
            width: 80%;
            border-radius: 10px;
            font-size: 20px;
            line-height: 33px;
            margin-top: 10px;
        }
    }
}