.payment-confirmation {
  background-image: url("../../img/Payment/payment-bg.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 266px);
  padding: 90px 0;
  .card {
    width: 660px;
    height: 359.25px;
    background: #0098FF;
    border-radius: 7.5px;
    margin: 0;
  }
  p, h1 {
    font-style: normal;
    font-weight: 800;
    color: #F2F2F2;
  }
  p {
    font-size: 26px;
    line-height: 43px;
  }
  h1 {
    font-size: 75px;
    line-height: 125px;
  }
  .buttonWrapper {
    margin-top: 90px;
  }
  .primaryButton, .secondaryButton {
    width: 223.5px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
  }
  .primaryButton {
    background: #16CFB0;
    border-radius: 7.5px;
    color: #FFFFFF;
    margin-left: 60px;
  }
  .secondaryButton {
    background: #FFFFFF;
    border: 0.75px solid #21E8DE;
    box-sizing: border-box;
    border-radius: 7.5px;
    color: #21E8DE;
    margin-right: 60px;
  }

  @include mediaQueries(mobile) {
    padding: 50px 16px;
    > div, .card {
      width: 100%;
    }
    h1 {
      font-size: 50px;
      line-height: 80px;
    }
    .buttonWrapper {
      justify-content: space-between !important;
    }
    .secondaryButton, .primaryButton {
      width: 45%;
      margin: 0;
    }
  }
}
