.payment-confirmation {
    background-color: #F1F5F8;
    height: 100vh;

    img {
        margin-bottom: 42px;
    }
    p {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #0D1834;

        max-width: 590px;
        margin-bottom: 32px;
    }
    h2 {
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -1px;
        text-align: left;
        color: #054FF0;
    }

    .buttonWrapper {
        margin-top: 90px;
    }

    .primaryButton, .secondaryButton {
        height: 48px;
        width: 219px;
        border-radius: 40px;
        padding: 12px 32px;

        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
    .primaryButton {
        background-color: #054FF0;
        color: #F1F5F8;
        border: 2px solid #054FF0;
        margin-right: 8px;

        &:hover {
            background-color: #F1F5F8;
            color: #054FF0;
            text-decoration: underline;
        }
    }
    .secondaryButton {
        background-color: #F1F5F8;
        color: #054FF0;
        border: 2px solid #054FF0;

        &:hover {
            background-color: #0D1834;
            color: #F1F5F8;
            border: 2px solid #0D1834;
            text-decoration: underline;
        }
    }

    @include mediaQueries(mobile) {
        padding: 50px 16px;

        > div, .card {
            width: 100%;
        }
        h2 {
            font-size: 50px;
            line-height: 80px;
        }
        .buttonWrapper {
            justify-content: space-between !important;
        }
        .secondaryButton, .primaryButton {
            width: 45%;
            margin: 0;
        }
    }
}
