.payment-page {
  padding: 69px 30px 55px 30px;
  min-height: calc(100vh - 266px);
  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 26.25px;
    line-height: 44px;
    color: #4F4F4F;
    margin-bottom: 17px;
  }
  .payments-container {
    flex: auto;
    margin-right: 30px;
    .payments {
        background: #FFFFFF;
        box-shadow: 0px 7.5px 30px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        padding: 48px 20px;

        label {
            margin-bottom: 56px;
        }
    }
    .nav-tabs {
      border-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      li:first-child {
        margin-right: 20px;
      }
    }
    .nav-tabs li {
      border: 3.75px solid #71D3F4;
      box-sizing: border-box;
      border-radius: 15px;

      a {
        width: 209px;
        height: 117px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 18.75px;
        line-height: 30px;
        color: #4F4F4F;
        &.active {
          background: rgba(113, 211, 244, 0.2);
          color: #000000;
        }
        &.active::after {
          position: absolute;
          content: '';
          width: 39.75px;
          height: 39.75px;
          top: -20px;
          right: -20px;
          background: url('../../icon/method-active.svg') no-repeat center;
        }
      }
      img {
        max-width: 136px;
      }
    }
    
    .terms-copy {
        box-sizing: border-box;
        border-radius: 20px;
        padding: 48px 20px;

        h6 {
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            color: #F2994A;
        }

        li {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            color: #000000;
            margin-bottom: 10px;
        }
    }
    .actions-container {
      margin-top: 56px;
    }
    .back-btn, .proceed-btn {
      width: 223.5px;
      min-height: 60px;
      border-radius: 7.5px;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: 0;
      box-sizing: border-box;
    }
    .back-btn {
      color: #16CFB0;
      border: 2px solid #16CFB0;
      margin-right: 30px;
      span {
        margin-left: 5px;
      }
    }
    .proceed-btn {
      color: #FFFFFF;
      background: #16CFB0;
      border: 0;
      &:focus {
        box-shadow: none;
      }
      &:hover {
        background: linear-gradient(
        266.19deg,
        #16cfb0 -15.44%,
        #71d3f4 103.82%
        );
      }
      &:disabled, &:disabled:hover {
        background: #cccccc;
        color: #666666;
      }
    }
  }
  .total-container {
    width: 480px;
    min-width: 480px;
    background: #0098FF;
    border-radius: 7.5px;
    padding: 30px 30px 30px 50px;
    .title {
      color: #F2F2F2;
    }
    .amount {
      font-style: normal;
      font-weight: 800;
      font-size: 75px;
      line-height: 125px;
      color: #F2F2F2;
    }
    span {
      font-size: 26.25px;
      line-height: 44px;
    }
  }
  @include mediaQueries(padpro) {
    .main-content-container {
      flex-wrap: wrap;
    }
    .payments-container {
      order: 2;
      margin-right: 0;
    }
    .total-container {
      order: 1;
      margin-bottom: 30px;
    }
  }
  @include mediaQueries(pad) {
    .main-content-container {
      flex-wrap: wrap;
    }
    .payments-container {
      order: 2;
      margin-right: 0;
    }
    .nav-tabs {
      justify-content: space-around !important;
    }
    .nav-tabs li {
      margin: 0 !important;
    }
    .actions-container {
      justify-content: space-between !important;
    }
    .total-container {
      order: 1;
      margin-bottom: 30px;
    }
  }
  @include mediaQueries(mobile) {
    padding: 50px 16px;
    .main-content-container {
      flex-wrap: wrap;
    }
    .payments-container {
      order: 2;
      margin-right: 0;
      width: 100%;
    }
    .payments {
      padding: 20px !important;
    }
    .nav-tabs {
      justify-content: space-around !important;
    }
    .nav-tabs li {
      margin: 0 !important;
    }
    .nav-tabs li a {
      width: unset !important;
      height: unset !important;
      padding: 15px 5px !important;
    }
   .nav-tabs li a.active::after {
      width: 25px !important;
      height: 25px !important;
      top: -13px !important;
      right: -13px !important;
      background-size: contain !important;
    }
    .terms-copy {
      padding: 20px 20px 50px 20px !important;
      flex-wrap: wrap;
      div {
        margin-right: 0;
        margin-bottom: 20px;
      }
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .actions-container {
      justify-content: space-between !important;
    }
    .back-btn {
      width: 60px !important;
    }
    .back-btn span {
      display: none;
    }
    .place-order {
      flex: auto;
    }
    .total-container {
      order: 1;
      margin-bottom: 30px;
      width: 100%;
      min-width: 100%;
      padding: 20px;
    }
  }
}
