.shop-page {
    @include mediaQueries(mobile) {
        background: #fff;
    }
    .shop-category {
        position: relative;
        @include mediaQueries(padpro) {
            display: block !important;
        }
        @include mediaQueries(pad) {
            display: block !important;
        }
        @include mediaQueries(mobile) {
            display: block !important;
        }
    }
    .category-accordion {
        @include mediaQueries(padpro) {
            display: none;
        }
        @include mediaQueries(pad) {
            display: none;
        }
        @include mediaQueries(mobile) {
            display: none;
        }
    }
    .filter-col {
        min-height: 100vh;
        background: #ffffff;
        padding: 69px 112px 93px 60px;
        .product-category {
            display: none;
            @include mediaQueries(custom-select) {
                display: block;
            }
        }
        @include mediaQueries(padpro) {
            padding: 20px 15px;
            min-height: auto;
            display: block;
            .select-category {
                background: #f0f0f0;
                border-radius: 14.5px;
            }
        }
        @include mediaQueries(pad) {
            padding: 20px 15px;
            min-height: auto;
            .select-category {
                background: #f0f0f0;
                border-radius: 14.5px;
            }
        }
        @include mediaQueries(mobile) {
            padding: 20px 15px;
            min-height: auto;
            .select-category {
                background: #f0f0f0;
                border-radius: 14.5px;
                max-width: 152px;
            }
        }
        h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 50px;
            color: #000000;
            margin-bottom: 15px;
            @include mediaQueries(pad) {
                font-size: 25px;
                line-height: 41px;
            }
            @include mediaQueries(mobile) {
                font-size: 25px;
                line-height: 41px;
            }
        }
        .accordion-item {
            margin-bottom: 23px;
        }
        .accordion-button {
            width: 350px;
            min-height: 49px;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 36px;
            text-align: left;
            color: #4f4f4f;
            background: none;
            border: 0;
            outline: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::after {
                content: "";
                min-width: 25px;
                min-height: 15px;
                background: url("../../icon/accordion-collapsed.svg") no-repeat center;
                background-size: contain;
            }
            &:not(.collapsed) {
                color: #0098ff;
                &::after {
                    content: "";
                    min-width: 25px;
                    min-height: 15px;
                    background: url("../../icon/accordion-show.svg") no-repeat center;
                    background-size: contain;
                }
            }
        }
        .accordion-body {
            margin-top: 30px;
            margin-bottom: 27px;
            ul {
                list-style: none;
                padding-left: 20px;
                padding-bottom: 0;
            }
            li {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 200%;
                color: #0098ff;
                cursor: pointer;
            }
            li.active {
                font-weight: bold;
            }
        }
    }
    .products-col {
        flex: auto;
        position: relative;
        width: calc(100% - 480px);
        right: 63px;
        padding: 69px 0px 93px 0;
        @include mediaQueries(padpro) {
            background: #fff;
            padding: 40px 15px;
            position: unset;
            width: auto;
            right: unset;
        }
        @include mediaQueries(pad) {
            background: #fff;
            padding: 20px 15px;
            position: unset;
            width: auto;
            right: unset;
        }
        @include mediaQueries(mobile) {
            position: unset;
            width: auto;
            right: unset;
            background: #fff;
            padding: 20px 15px;
        }
        .content-container {
            background: #ffffff;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
            border-radius: 5px;
        }
        .content-category {
            height: 210px;
            background: url("../../img/shop-bg.png") no-repeat center;
            background-size: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include mediaQueries(mobile) {
                background: url("../../img/Mobile/categories/collection-mobile-banner.svg") no-repeat center;
                height: 133px;
            }
            h3 {
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 50px;
                text-align: center;
                color: #4f4f4f;
                margin-bottom: 10px;
                @include mediaQueries(pad) {
                    font-size: 25px;
                    line-height: 41px;
                }
                @include mediaQueries(mobile) {
                    font-size: 25px;
                    line-height: 41px;
                }
            }
            p {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 30px;
                color: #000000;
                margin-bottom: 0;
                @include mediaQueries(mobile) {
                    display: none;
                }
            }
        }
        .content {
            padding: 25px 50px;
            @include mediaQueries (custom-shop-container) {
                padding: 25px 30px;
            }
            @include mediaQueries(pad) {
                padding: 20px 15px;
            }
            @include mediaQueries(mobile) {
                padding: 20px 15px;
            }
        }
        @media screen and (max-width: 1510px) and (min-width: 1400px) {
            .list-view {
                .products-container {
                    .products.list-view {
                        .list-header {
                            padding: 0 20px 0 100px;
                            div {}
                            p {
                                font-size: 13px;
                            }
                            .buy-online {
                                min-width: 105px !important;
                            }
                            .buy-offline {
                                min-width: 60px !important;
                            }
                        }
                        .details-container {
                            p {
                                font-size: 12px;
                            }
                            .cart-btn,
                            .qty {
                                width: 50px;
                                height: 25px;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 1400px) {
            .search-page {
                .products {
                    .list-header {
                        display: none !important;
                    }
                }
            }
            .products {
                .list-header {
                    display: none;
                }
            }
            .list-view {
                .list-header,
                .product .details-container {
                    flex-wrap: wrap;
                    .name-container {
                        width: 40%;
                        max-width: 40%;
                    }
                    .company {
                        min-width: 110px;
                    }
                    .price-container p:first-child,
                    input {
                        margin-bottom: 0;
                        margin-right: 10px;
                    }
                    .price-container {
                        display: none;
                    }
                    .size,
                    .strength,
                    .buy-container,
                    .incart {
                        margin-top: 50px;
                        position: relative;
                        min-height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        &::before {
                            content: "";
                            position: absolute;
                            top: -25px;
                            left: 0;
                            text-align: center;
                            font-weight: 600;
                            font-size: 12px;
                            color: #000000;
                        }
                    }
                    .size::before {
                        content: "Size";
                    }
                    .strength::before {
                        content: "Strength";
                    }
                    .price-container::before {
                        content: "Price (PPU)";
                    }
                    .buy-container::before {
                        content: "Buy";
                    }
                    .incart::before {
                        content: "In cart";
                    }
                }
            }
        }
        @media screen and (max-width: 1365px) {
            .shop-page {
                .shop-category {
                    position: unset;
                }
                .products-col {
                    position: unset;
                    width: auto;
                    right: unset;
                }
            }
        }
        .name-container {
            font-size: 10px;
            line-height: 15px;
            p {
                font-family: "Axiforma Bold";
            }
        }
    }
}