.signup {
    background: url("../../img/login-bg.png") no-repeat top center fixed;
    background-size: 100% 512px;
    min-height: calc(100vh - 155px);
    padding: 95px 0 78px 0;
    // .signup-wrapper {
    //   width: 50%;
    //   @include mediaQueries(mobile) {
    //     width: 100%;
    //   }
    // }
    .logo-container {
        margin-bottom: 65px;
    }

    .signup-progress {
        height: 56px;
        width: 484px;
        border-radius: 80px;
        padding: 0px 24px;
        margin-bottom: 32px;

        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: left;
        color: #0D1834;

        background: #CED9DB;

        .step {
            gap: 12px;
        }
    }

    .card {
        width: 100%;
        min-height: 528px;
        padding: 64px;
        width: 628px;
        gap: 32px;

        hr {
            margin: 0;
        }

        h4 {
            font-family: "Helvetica Neue LT Pro";
            font-size: 32px;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: left;

            color: #0D1834;
        }

        .signup-header {
            gap: 12px;

            h2 {
                font-size: 48px;
                font-weight: 700;
                line-height: 58px;
                letter-spacing: 0em;
                text-align: center;
                color: #0D1834;
            }

            a {
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0em;
                text-align: center;
                color: #054FF0;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .input-wrapper {
            label {
                font-family: "Helvetica Neue LT Pro";
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #181818;

                margin-left: 15px;
            }
            input {
                height: 53px;
                left: 0px;
                top: 27px;
                border-radius: 40px;
                padding: 16px 14px;
                background-color: #F4F5F6;
                border: none;
            }
            input::placeholder {
                font-family: "Helvetica Neue LT Pro";
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0px;
                text-align: left;
                color: #707784;
            }
        }

        .next-btn {
            height: 45px;
            border: none;
            border-radius: 40px;
            padding: 12px 16px;
            background: #054FF0;

            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;

            &:disabled,
            &:disabled:hover {
                background: #f0f0f0 !important;
                border: none;
                color: #181818;
                opacity: 0.5;
            }
        }

        .checkbox-container {
            input[type="checkbox"] {
                margin-right: 13px;
            }

            a {
                color: #054FF0;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
  // .signup-img {
  //   width: 50%;
  //   border-top-right-radius: 0.5rem;
  //   border-bottom-right-radius: 0.5rem;
  //   object-fit: cover;
  // }
  .signup-img {
    width: 50%;
    background-color: #f0f0f0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -50%;
      right: -50%;
      background: url("../../img/Payment/payment-bg.svg") no-repeat center;
      background-size: contain;
      transform: rotate(90deg);
    }
    img {
      width: 80%;
      margin-bottom: 20px;
      z-index: 1;
    }
    p {
      width: 80%;
      font-style: normal;
      font-size: 30px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 30px;
      z-index: 1;
    }
  }
  .form-container {
    padding: 30px;
    flex: auto;
  }
  .form {
    min-height: 410px;
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    color: #16cfb0;
    margin-bottom: 0;
  }
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    color: #0098ff;
    margin-bottom: 18px;
  }
  .desc {
    margin-bottom: 20px;
  }
  .desc p {
    margin: 0;
    b,
    a {
      font-family: "Axiforma Bold", sans-serif;
      color: #000000;
    }
    a {
      text-decoration: underline;
    }
  }
  .error {
    min-height: 22px;
    background: none;
    color: #e63757;
  }
  input:not([type="checkbox"]),
  select,
  .flatpickr-input {
    background: #f0f0f0 !important;
    border: none;
    border-radius: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    height: 44.25px;
    &::placeholder {
      color: #828282;
      font-weight: bold;
    }
  }
  select:invalid {
    color: #828282;
    font-weight: bold;
  }
  .password-container .form-group {
    margin-bottom: 5px !important;
  }
  .password-validation {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #bdbdbd;
    display: flex;
    align-items: center;
    &.valid {
      color: #37b34a;
    }
    img {
      margin-right: 8px;
    }
    &:last-of-type {
      margin-bottom: 10px;
    }
  }
  .resend {
    width: 170px;
    height: 42.75px;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    border: none;
  }
  .nav {
    margin-top: auto;
  }
  .nav.verify {
    margin-top: 0;
  }
  .next,
  .prev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .next,
  .submit {
    background: #16cfb0;
    color: #ffffff;
    &:disabled {
      background: #f0f0f0;
    }
  }
  .resend {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .prev,
  .resend {
    background: transparent;
    border: 3px solid #16cfb0;
    box-sizing: border-box;
    color: #16cfb0;
  }
  .resend .spinner-border {
    color: #16cfb0;
  }

  .checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;


    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #eee;
  }

  .checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .checkbox input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox .checkmark:after {
    left: 9px;
    top: 6px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @include mediaQueries(pad) {
    .nav {
      justify-content: space-between !important;
    }
    .next {
      margin-left: auto;
    }
    .prev,
    .resend {
      margin-right: 10px !important;
    }
  }
  @include mediaQueries(mobile) {
    background: url("../../img/signup-mobile-img.png") no-repeat top;
    .container {
      padding-top: 300px;
    }
    .signup-img {
      display: none !important;
    }
    .form-container {
      padding: 20px;
    }
    .nav {
      justify-content: space-between !important;
    }
    .nav.verify {
      justify-content: center !important;
    }
    .basic-nav {
      justify-content: center !important;
    }
    button {
      height: 57px;
      font-size: 20px;
      line-height: 33px;
      border-radius: 10px;
    }
    .next {
      margin: 0 !important;
    }
    .prev {
      width: 100px;
      flex: auto;
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .prev span {
      display: none;
    }
    .resend {
      margin-bottom: 20px;
      margin-right: 0 !important;
    }
  }
  .newsletterWrapper {
    max-width: 1138px;
    min-height: 478px;
    background-image: url(https://premierpharma.wpengine.com/wp-content/uploads/2021/02/Frame-87.png);
    background-color: #71d3f4;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0px 9.28977px 37.1591px rgb(0 0 0 / 5%);
    @include mediaQueries(mobile) {
      min-height: 353px;
    }
    .emailWrapper {
      padding: 50px 95px;
      @include mediaQueries(mobile) {
        padding: 20px 30px;
      }
      h2 {
        font-weight: 700;
        font-size: 36px;
        color: #fff !important;
        line-height: 60px;
        text-align: center;
        @include mediaQueries(mobile) {
          font-size: 25px;
          line-height: 41px;
        }
      }
      .emailGroup {
        background: #fff !important;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
        border-radius: 49.5px;
        max-width: 797px;
        margin: 46px auto 0 auto;
        @include mediaQueries(mobile) {
          max-width: 333px;
          min-height: 39px;
          margin: 26px auto 0 auto;
        }
        .input-group-append {
          background: #fff !important;
          border-radius: 49.5px;
          padding: 10px;
        }
        input {
          background: #fff !important;
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
          border-radius: 49.5px 0 0 49.5px;
          min-height: 73px;
          @include mediaQueries(mobile) {
            max-width: 333px;
            min-height: 39px;
            height: 100%;
          }
        }
        button {
          max-width: 155px;
          min-height: 49px;
          background: #16cfb0;
          border-radius: 49.5px;
          font-weight: 600;
          font-size: 20px;
          line-height: 33px;
          text-align: center;
          color: #fff;
          @include mediaQueries(mobile) {
            max-width: 64px;
            min-height: 29px;
            height: 100%;
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.account-verification-container {
  min-height: 100vh;
  .error {
    min-height: 40px;
  }
}
