.signup {
  min-height: calc(100vh - 155px);
  padding: 135px 0 78px 0;
  .card {
    width: 100%;
    min-height: 528px;
  }
  .signup-img {
    width: 38%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    object-fit: cover;
  }
  .form-container {
    padding: 30px;
    flex: auto;
  }
  .form {
    min-height: 410px;
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 12px;
  }
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    color: #0098ff;
    margin-bottom: 18px;
  }
  .error {
    min-height: 22px;
    background: none;
    color: #e63757;
  }
  .form-group{
      margin-bottom: 30px;
  }
  input,
  select {
    background: #f0f0f0;
    border: none;
    border-radius: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    height: 44.25px;
    &::placeholder {
      color: #828282;
      font-weight: bold;
    }
  }
  select:invalid {
    color: #828282;
    font-weight: bold;
  }
  button {
    width: 170px;
    height: 42.75px;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    border: none;
  }
  .nav {
    margin-top: auto;
  }
  .next,
  .prev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .next,
  .submit {    
    background: #16cfb0;
    color: #ffffff;
    &:disabled {
      background: #f0f0f0;
    }
  }
  .prev {
    background: transparent;
    border: 3px solid #16cfb0;
    box-sizing: border-box;
    color: #16cfb0;
  }
  @include mediaQueries(pad) {
    .nav {
      justify-content: space-between !important;
    }
    .next {
      margin-left: auto;
    }
    .prev {
      margin-right: 10px !important;
    }
  }
  @include mediaQueries(mobile) {
    background: url("../../img/signup-mobile-img.png") no-repeat top;
    .container {
      padding-top: 300px;
    }
    .signup-img {
      display: none;
    }
    .form-container {
      padding: 20px;
    }
    .nav {
      justify-content: space-between !important;
    }
    .basic-nav {
      justify-content: center !important;
    }
    button {
      height: 57px;
      font-size: 20px;
      line-height: 33px;
      border-radius: 10px;
    }
    .next {
      margin: 0 !important;
    }
    .prev {
      width: 100px;
      flex: auto;
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .prev span {
      display: none;
    }
  }
}

.account-verification-container {
  min-height: 100vh;
  .error {
    min-height: 40px;
  }
}