.personalInformationWrapper {
  padding: 0 100px 40px 100px;
  @include mediaQueries(mobile) {
    padding: 0 15px 20px 15px;
  }
  .section-title {
    font-family: "Axiforma Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 58px;
    color: #4f4f4f;
    @include mediaQueries(mobile) {
      font-size: 25px;
    }
  }
  .account-tabs {
    background: #fff;
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.07));
    border-radius: 10px;
    li {
      .nav-link {
        padding: 40px 20px;
        font-family: "Axiforma Bold";
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 47px;
        color: #4f4f4f;
        cursor: pointer;
        &.active {
          background: rgba($color: #21e8de, $alpha: 0.1);
          border: 0;
        }
        @include mediaQueries(mobile) {
          font-size: 18px;
          padding: 20px 15px;
        }
      }
    }
  }
  .tab-content {
    background: #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    padding: 40px;
    .info-section {
      margin-bottom: 110px;
      @include mediaQueries(mobile) {
        margin-bottom: 50px;
      }
      .profilePic {
        @include mediaQueries(mobile) {
          max-width: 50px;
        }
      }
      .customerName {
        font-family: "Axiforma Bold";
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 58px;
        color: #4f4f4f;
        @include mediaQueries(mobile) {
          font-size: 22px;
          line-height: 36px;
        }
      }
      .changeProfile {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        color: #4f4f4f;
        @include mediaQueries(mobile) {
          font-size: 12px;
        }
      }
      .editIcon {
        max-width: 25px;
      }
    }
    .account-section {
      .wrapper-title {
        font-family: "Axiforma Bold";
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 50px;
        color: #4f4f4f;
        @include mediaQueries(mobile) {
          font-size: 22px;
        }
      }
      .account-info,
      .shipping-info {
        margin-bottom: 60px;
      }
      input {
        font-family: "Axiforma";
        background: #f0f0f0;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 40px;
        color: #4f4f4f;
        padding: 5px 15px;
        border: 0;
        @include mediaQueries(mobile) {
          font-size: 16px;
        }
      }
      .cards-title {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        color: #4f4f4f;
      }
      .creditCardRow {
        &.active-card {
          .default-badge {
            background: #c4c4c4;
            border-radius: 13px;
            font-style: normal;
            font-weight: normal;
            line-height: 29px;
            color: #f2f2f2;
            padding: 2px 20px;
            margin-left: 11px;
            @include mediaQueries(mobile) {
              font-size: 12px;
              padding: 0px 12px;
              line-height: 24px;
            }
          }
        }

        .cardItem {
          background: #f0f0f0;
          max-width: 400px;
          width: 100%;
          padding: 10px 20px;
          @include mediaQueries(mobile) {
            p {
              font-size: 14px;
            }
          }

          img {
            max-width: 36px;
            width: 100%;
          }
        }
      }
      .addCard {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 40px;
        color: #4f4f4f;
        @include mediaQueries(mobile) {
          font-size: 18px;
        }
      }
    }
  }
}
